/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

header {
  display: block;
  color: rebeccapurple;
  text-decoration: underline;
}

button {
  background-color: aqua;
  border: none;
}

body {
  width: 500px;
  margin: auto;
  background: rgb(238, 174, 202);
}

h3 {
  color: rebeccapurple;
}

p {
  color: rebeccapurple;
}

form {
  color: firebrick;
  border: aqua 1px;
}
